@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Roboto&display=swap');



@font-face {
  font-family: 'iransans';
  src: url('http://bayanbox.ir/download/5602560474888085389/IRANSansWeb.woff') format('woff'); 
  src: url('http://bayanbox.ir/download/2180555625540261471/IRANSansWeb.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
	
@font-face {
  font-family: 'iransans';
  src: url('http://bayanbox.ir/download/5602560474888085389/IRANSansWeb.woff') format('woff'); 
  src: url('http://bayanbox.ir/download/2180555625540261471/IRANSansWeb.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
} 

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
}



html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  direction: rtl;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("https://cdn.dribbble.com/users/1784766/screenshots/10956408/fn2_4x.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px 1080px;
  color: #333;
  line-height: 1.6;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Vazir,iransans,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body img{
    width: 100%;
    height: auto;
}
#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  font-family: Vazir,iransans; 
  
}
header {
  grid-area: header;
  height: 75px;
  background-color: #20304073;
}

header a {
  color: #ffffff;
  padding: 1rem;
}
main {
  margin-top: 20px;
  grid-area: main;
  margin-bottom: -10px;
  color: #ffffff79;
}
/* footer  */
footer {
  grid-area: footer;
  background:#203040 ;
  height: auto;
  color: #fff;
  box-sizing: border-box;
  
}

footer.row.center{
  background: #203040;
}
.footer-content{
  border-radius:   10px;
  background: #203040;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  width: -webkit-fill-available;
  margin-bottom: -30px;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-weight: bold;
  color: #f3f3f3;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px ;
  font-size: 14px;
  color: #fff;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0 ;
}
.socials li{
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;  
}
.socials a i {
  font-size: 4rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: rgb(0, 255, 255);
}
.footer-bottom{
  color: #fff;
  background: #203040;
  width:fill;
  height: auto;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-bottom a{
  color: rgb(211, 165, 15);
}
.footer-bottom a:hover {
  color: #b4b4b4;
}
/* end footer */

.background{
  margin-bottom: 10px;
}


.menu{
  margin-bottom: 13px;
  margin-left: 10px;
}

.slider-seller{
  direction: ltr;
  margin-left: 78px;
} 

div.row.center{
  margin-bottom: 10px;
}
.fixing-search , .fixing-cart , 
.fixing-dashboard , .fixing-register , 
.fixing-profile ,.fixing-order-history,
.fixing-payment-method , .fixing-palce-order ,
.fixing-product ,.fixing-signin,
.fixing-user-list,.fixing-support,
.fixing-shipping ,.fixing-seller,
.fixing-product-edit,.fixing-product-list
{
  margin-right: 80px;
}

@media (min-width:1920px) {
  input#phonenumber {
    width: 580px;
  }

}
@media (max-width:1920px) {
  input#phonenumber {
    width: 580px;
  }
}
@media (min-width:520px) {
  div.cart-screen{
    margin-right: 78px;
  }
  div.alert.alert-info , .card.card-body.incart-screen{
    margin: 5px;
  }
 .fixing-cart div.col-1, .fixing-cart div.col-2{
   margin-right: -78px;
 }
 .fixing-product div.col-2{
   margin-right: 78px ;
 }
 .fixing-product form.form{
  margin-bottom: 10px;
  }

  .fixing-order{
    margin-right: 80px;
  }
}
@media (max-width:1600px) {
  
  .carousel .slide img {
    width: auto;
    height: 900px;
  }
  input#phonenumber {
    width: 580px;
  }
}
@media (max-width:1156px) {
  
  .carousel .slide img {
    width: 90%;
    height: 700px;
  }
    
  input#phonenumber {
    width: 580px;
  }
}
@media (max-width:1075px) {
  
  input#phonenumber {
    width: 580px;
  }
}

@media (max-width:1000px) {
  
  .menu a {
    font-size: 15px;
  }
  input#phonenumber {
    width: 580px;
  }
}

@media (max-width:635px) {
  input#phonenumber {
    width:460px;
  }
}

@media (min-width:755px) {
  
  .menu a {
    font-size: 13px;
  }
  .fixing-cart div.alert.alert-info{
    margin-left: 80px;
  }
  
}


@media (max-width:894px) {
  
  .menu a {
    font-size: 12px;
    margin-left: 2px;
    padding: 8px;
  }
}


@media (max-width:620px) {
  input#phonenumber {
    width: 470px;
  }
  
  .background{
    margin-top: -230px;
  }
}

@media (max-width:600px) {
  input#phonenumber {
    width: 440px;
  }
}

@media (max-width:570px) {
  input#phonenumber {
    width: 410px;
  }
}
@media (max-width:540px) {
  input#phonenumber {
    width: 370px;
  }
}


@media (max-width:560) {
  input#phonenumber {
    width: 390px;
  }
}
@media (max-width:767px) {
  .slider-seller{
    width: 1920px;
    height: 700px;
    margin: 10px auto;
    width: 90%;
    padding: 10px;
  }
  .welcome{display: none;}
  .background{
    margin-top: 250px;
  } 
  .carousel .slide img {
    margin: auto;
     height: 450px;
  }
  
  img.large {
    width: 100%;
    margin-top: 10px;
}
  .menu a{
    font-size: 11px;
  }
}



img.large {
  margin-top: 10px;
}

@media (max-width:991px) {
  
  img.large {
    width: 350px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
}

.cart-screen{
  background-color: rgba(231, 231, 231, 0.644);
  padding: 3px;
  border-radius: 5px;
  margin: auto ;
  width: auto;
}
.sunpport-card{
  width: 300px;
  height: auto;
}


/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  color:#333;
}
.new-product{
  margin-right: 10px;
  color: #808080;
}
.product-border{
  text-align: center;
  margin: auto;
}
a {
  text-decoration: none;
  color: #000;
  
}
a:hover {
  color: #707070;
}
a:visited { 
  text-decoration: none; 
 }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Vazir,iransans;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  text-align: center;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #dbbcff;
  border-radius: 10px;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}

a.brand {
  margin: auto;
  direction: ltr;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 90px;
  margin-bottom: 20px;
}
.badge {
  margin-right:80px;
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.dashboard{
  color: #000;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
  color: #000000;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 20 1 50rem;
}

i.open-sidebar {
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
  height: 47px;
}
i.open-sidebar:hover {
  border-color: #8f8f8f;
}

.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

.category {
  border: none;
  
}
.categories{margin-left: 20px;}
.category {
  text-align: center;
  color: #dbbcff;
}

.categories a{
  color: #fff;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width:289.5px;
  height: 193px;

}
/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #e0e0e0be;
  border-radius: 0.5rem;
  margin: 1rem;
  text-align: center;
}
.card-body h2{
  font-size: 19px;
  font-weight: 400;
  text-transform: capitalize;
}

.card-body {
  padding: 1rem;
  text-align: center;
}
.card-body > * {
  margin-bottom: 0.5rem;
  text-align: center;
}
.price {
  font-size:18px;
  text-align: center;
  color: #000;
  margin-top: 10px;
  font-weight:500;
}

.product-name{
  margin-right: 40px;
  border: solid 1px #cacaca  ;
  border-radius: 5px;
  padding: 40px;
  margin:12px 27px ;
  text-align: center;
  background-color:#cacaca ;
}

.welcome{
  margin-left: 85px;
  color: #fff;
}

.back-button{
  background-color: #fff;
  margin: 0;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
  margin-top: 25px;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin-right:  700px;
  background: rgba(130, 146, 180, 0.692);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 70px;
  padding: 5px 20px   ;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
form {
  margin-bottom: 40px;
  margin-left: 50px;
  text-align: center;
  color: rgb(48, 48, 48);
}
.form button{
  margin-bottom: 10px;
  font-size: large;
}
.form input{
  background: #fff;
  width: auto;
}
 .form h1{
  color: #000;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

.admin {
  right:-3.9rem;
}
div.row{
  margin-top: 20px;
  color: #000;
  margin:auto;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #afaeae;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: center;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
  color: #000;
}
.table button {
  margin: 0 0.2rem;
}
button.payment {
  color: #dbbcffb0;
  margin-bottom: 5px;
  color: #000;
}
/* Carousel */
.carousel .slide img {
  width: auto;
}
div.slide img {
  margin-left: 78px;
}

.carousel.slide{
  margin-top: 50px;
}



/* Search */


.search-category{
  border-radius: 10px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.664);
}

.search-category ul{
  text-align: center;
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px;
  border: #000 solid 1px;
}
a.active{
  color: #808080;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}
 strong{
  color: #000;
}
p{
  color: #000;
}
.reviews-border{
  border: solid 1px #000 ;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  height: 200px;
  width: auto;
}
/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  left: 1rem;
  bottom: 1rem; 
}
.chatbox ul {
  overflow-y: scroll;
  max-height: 20rem;
  text-align: right;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 7rem);
  margin-bottom: -40px;

}
.button-chatbox {
  margin-bottom: -40px;
  margin-left: -30px;
}
.chatbox button{
  height: 43px;
}
.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
 
}
.support-messages {
  padding: 1rem;
  background: #fff;
  width:1000px;
}
.support-messages input {
  width: calc(100% - 10rem);
  margin-bottom: 20px;
}
.support-messages button{
  margin-bottom: 20px;
}
.support-messages ul {
  height: calc(100vh - 20rem);
  max-height: calc(100vh - 20rem);
  overflow-y: scroll;
  color: #000;
}
.support-messages li {
  margin-bottom: 1rem;
}


.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c; 
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#phone, .btn {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  color: #ffffff;
  background-color: #428BCA;
  border-color: #357EBD;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.btn:focus, .btn:hover {
  background-color: #3276B1;
  border-color: #285E8E;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

input#phonenumber {
  margin: auto;
  text-align: center;
}
input.btn{
  margin-right: 20px;
  height: 46px;
  color: #000;
}

/* TEL Input */

.iti {
  position: relative;
  display: inline-block; }
  .iti * {
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .iti__hide {
    display: none; }
  .iti__v-hide {
    visibility: hidden; }
  .iti input, .iti input[type=text], .iti input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0; }
  .iti__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px; }
  .iti__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px; }
  .iti__arrow {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555; }
    .iti__arrow--up {
      border-top: none;
      border-bottom: 4px solid #555; }
  .iti__country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    .iti__country-list--dropup {
      bottom: 100%;
      margin-bottom: -1px; }
    @media (max-width: 500px) {
      .iti__country-list {
        white-space: normal; } }
  .iti__flag-box {
    display: inline-block;
    width: 20px; }
  .iti__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC; }
  .iti__country {
    padding: 5px 10px;
    outline: none; }
  .iti__dial-code {
    color: #999; }
  .iti__country.iti__highlight {
    background-color: rgba(0, 0, 0, 0.05); }
  .iti__flag-box, .iti__country-name, .iti__dial-code {
    vertical-align: middle; }
  .iti__flag-box, .iti__country-name {
    margin-right: 6px; }
  .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0; }
  .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    right: auto;
    left: 0; }
  .iti--allow-dropdown .iti__flag-container:hover {
    cursor: pointer; }
    .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
      background-color: rgba(0, 0, 0, 0.05); }
  .iti--allow-dropdown input[disabled] + .iti__flag-container:hover,
  .iti--allow-dropdown input[readonly] + .iti__flag-container:hover {
    cursor: default; }
    .iti--allow-dropdown input[disabled] + .iti__flag-container:hover .iti__selected-flag,
    .iti--allow-dropdown input[readonly] + .iti__flag-container:hover .iti__selected-flag {
      background-color: transparent; }
  .iti--separate-dial-code .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.05); }
  .iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 6px; }
  .iti--container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px; }
    .iti--container:hover {
      cursor: pointer; }

.iti-mobile .iti--container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed; }

.iti-mobile .iti__country-list {
  max-height: 100%;
  width: 100%; }

.iti-mobile .iti__country {
  padding: 10px 10px;
  line-height: 1.5em; }

.iti__flag {
  width: 20px; }
  .iti__flag.iti__be {
    width: 18px; }
  .iti__flag.iti__ch {
    width: 15px; }
  .iti__flag.iti__mc {
    width: 19px; }
  .iti__flag.iti__ne {
    width: 18px; }
  .iti__flag.iti__np {
    width: 13px; }
  .iti__flag.iti__va {
    width: 15px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
      background-size: 5652px 15px; } }
  .iti__flag.iti__ac {
    height: 10px;
    background-position: 0px 0px; }
  .iti__flag.iti__ad {
    height: 14px;
    background-position: -22px 0px; }
  .iti__flag.iti__ae {
    height: 10px;
    background-position: -44px 0px; }
  .iti__flag.iti__af {
    height: 14px;
    background-position: -66px 0px; }
  .iti__flag.iti__ag {
    height: 14px;
    background-position: -88px 0px; }
  .iti__flag.iti__ai {
    height: 10px;
    background-position: -110px 0px; }
  .iti__flag.iti__al {
    height: 15px;
    background-position: -132px 0px; }
  .iti__flag.iti__am {
    height: 10px;
    background-position: -154px 0px; }
  .iti__flag.iti__ao {
    height: 14px;
    background-position: -176px 0px; }
  .iti__flag.iti__aq {
    height: 14px;
    background-position: -198px 0px; }
  .iti__flag.iti__ar {
    height: 13px;
    background-position: -220px 0px; }
  .iti__flag.iti__as {
    height: 10px;
    background-position: -242px 0px; }
  .iti__flag.iti__at {
    height: 14px;
    background-position: -264px 0px; }
  .iti__flag.iti__au {
    height: 10px;
    background-position: -286px 0px; }
  .iti__flag.iti__aw {
    height: 14px;
    background-position: -308px 0px; }
  .iti__flag.iti__ax {
    height: 13px;
    background-position: -330px 0px; }
  .iti__flag.iti__az {
    height: 10px;
    background-position: -352px 0px; }
  .iti__flag.iti__ba {
    height: 10px;
    background-position: -374px 0px; }
  .iti__flag.iti__bb {
    height: 14px;
    background-position: -396px 0px; }
  .iti__flag.iti__bd {
    height: 12px;
    background-position: -418px 0px; }
  .iti__flag.iti__be {
    height: 15px;
    background-position: -440px 0px; }
  .iti__flag.iti__bf {
    height: 14px;
    background-position: -460px 0px; }
  .iti__flag.iti__bg {
    height: 12px;
    background-position: -482px 0px; }
  .iti__flag.iti__bh {
    height: 12px;
    background-position: -504px 0px; }
  .iti__flag.iti__bi {
    height: 12px;
    background-position: -526px 0px; }
  .iti__flag.iti__bj {
    height: 14px;
    background-position: -548px 0px; }
  .iti__flag.iti__bl {
    height: 14px;
    background-position: -570px 0px; }
  .iti__flag.iti__bm {
    height: 10px;
    background-position: -592px 0px; }
  .iti__flag.iti__bn {
    height: 10px;
    background-position: -614px 0px; }
  .iti__flag.iti__bo {
    height: 14px;
    background-position: -636px 0px; }
  .iti__flag.iti__bq {
    height: 14px;
    background-position: -658px 0px; }
  .iti__flag.iti__br {
    height: 14px;
    background-position: -680px 0px; }
  .iti__flag.iti__bs {
    height: 10px;
    background-position: -702px 0px; }
  .iti__flag.iti__bt {
    height: 14px;
    background-position: -724px 0px; }
  .iti__flag.iti__bv {
    height: 15px;
    background-position: -746px 0px; }
  .iti__flag.iti__bw {
    height: 14px;
    background-position: -768px 0px; }
  .iti__flag.iti__by {
    height: 10px;
    background-position: -790px 0px; }
  .iti__flag.iti__bz {
    height: 14px;
    background-position: -812px 0px; }
  .iti__flag.iti__ca {
    height: 10px;
    background-position: -834px 0px; }
  .iti__flag.iti__cc {
    height: 10px;
    background-position: -856px 0px; }
  .iti__flag.iti__cd {
    height: 15px;
    background-position: -878px 0px; }
  .iti__flag.iti__cf {
    height: 14px;
    background-position: -900px 0px; }
  .iti__flag.iti__cg {
    height: 14px;
    background-position: -922px 0px; }
  .iti__flag.iti__ch {
    height: 15px;
    background-position: -944px 0px; }
  .iti__flag.iti__ci {
    height: 14px;
    background-position: -961px 0px; }
  .iti__flag.iti__ck {
    height: 10px;
    background-position: -983px 0px; }
  .iti__flag.iti__cl {
    height: 14px;
    background-position: -1005px 0px; }
  .iti__flag.iti__cm {
    height: 14px;
    background-position: -1027px 0px; }
  .iti__flag.iti__cn {
    height: 14px;
    background-position: -1049px 0px; }
  .iti__flag.iti__co {
    height: 14px;
    background-position: -1071px 0px; }
  .iti__flag.iti__cp {
    height: 14px;
    background-position: -1093px 0px; }
  .iti__flag.iti__cr {
    height: 12px;
    background-position: -1115px 0px; }
  .iti__flag.iti__cu {
    height: 10px;
    background-position: -1137px 0px; }
  .iti__flag.iti__cv {
    height: 12px;
    background-position: -1159px 0px; }
  .iti__flag.iti__cw {
    height: 14px;
    background-position: -1181px 0px; }
  .iti__flag.iti__cx {
    height: 10px;
    background-position: -1203px 0px; }
  .iti__flag.iti__cy {
    height: 14px;
    background-position: -1225px 0px; }
  .iti__flag.iti__cz {
    height: 14px;
    background-position: -1247px 0px; }
  .iti__flag.iti__de {
    height: 12px;
    background-position: -1269px 0px; }
  .iti__flag.iti__dg {
    height: 10px;
    background-position: -1291px 0px; }
  .iti__flag.iti__dj {
    height: 14px;
    background-position: -1313px 0px; }
  .iti__flag.iti__dk {
    height: 15px;
    background-position: -1335px 0px; }
  .iti__flag.iti__dm {
    height: 10px;
    background-position: -1357px 0px; }
  .iti__flag.iti__do {
    height: 14px;
    background-position: -1379px 0px; }
  .iti__flag.iti__dz {
    height: 14px;
    background-position: -1401px 0px; }
  .iti__flag.iti__ea {
    height: 14px;
    background-position: -1423px 0px; }
  .iti__flag.iti__ec {
    height: 14px;
    background-position: -1445px 0px; }
  .iti__flag.iti__ee {
    height: 13px;
    background-position: -1467px 0px; }
  .iti__flag.iti__eg {
    height: 14px;
    background-position: -1489px 0px; }
  .iti__flag.iti__eh {
    height: 10px;
    background-position: -1511px 0px; }
  .iti__flag.iti__er {
    height: 10px;
    background-position: -1533px 0px; }
  .iti__flag.iti__es {
    height: 14px;
    background-position: -1555px 0px; }
  .iti__flag.iti__et {
    height: 10px;
    background-position: -1577px 0px; }
  .iti__flag.iti__eu {
    height: 14px;
    background-position: -1599px 0px; }
  .iti__flag.iti__fi {
    height: 12px;
    background-position: -1621px 0px; }
  .iti__flag.iti__fj {
    height: 10px;
    background-position: -1643px 0px; }
  .iti__flag.iti__fk {
    height: 10px;
    background-position: -1665px 0px; }
  .iti__flag.iti__fm {
    height: 11px;
    background-position: -1687px 0px; }
  .iti__flag.iti__fo {
    height: 15px;
    background-position: -1709px 0px; }
  .iti__flag.iti__fr {
    height: 14px;
    background-position: -1731px 0px; }
  .iti__flag.iti__ga {
    height: 15px;
    background-position: -1753px 0px; }
  .iti__flag.iti__gb {
    height: 10px;
    background-position: -1775px 0px; }
  .iti__flag.iti__gd {
    height: 12px;
    background-position: -1797px 0px; }
  .iti__flag.iti__ge {
    height: 14px;
    background-position: -1819px 0px; }
  .iti__flag.iti__gf {
    height: 14px;
    background-position: -1841px 0px; }
  .iti__flag.iti__gg {
    height: 14px;
    background-position: -1863px 0px; }
  .iti__flag.iti__gh {
    height: 14px;
    background-position: -1885px 0px; }
  .iti__flag.iti__gi {
    height: 10px;
    background-position: -1907px 0px; }
  .iti__flag.iti__gl {
    height: 14px;
    background-position: -1929px 0px; }
  .iti__flag.iti__gm {
    height: 14px;
    background-position: -1951px 0px; }
  .iti__flag.iti__gn {
    height: 14px;
    background-position: -1973px 0px; }
  .iti__flag.iti__gp {
    height: 14px;
    background-position: -1995px 0px; }
  .iti__flag.iti__gq {
    height: 14px;
    background-position: -2017px 0px; }
  .iti__flag.iti__gr {
    height: 14px;
    background-position: -2039px 0px; }
  .iti__flag.iti__gs {
    height: 10px;
    background-position: -2061px 0px; }
  .iti__flag.iti__gt {
    height: 13px;
    background-position: -2083px 0px; }
  .iti__flag.iti__gu {
    height: 11px;
    background-position: -2105px 0px; }
  .iti__flag.iti__gw {
    height: 10px;
    background-position: -2127px 0px; }
  .iti__flag.iti__gy {
    height: 12px;
    background-position: -2149px 0px; }
  .iti__flag.iti__hk {
    height: 14px;
    background-position: -2171px 0px; }
  .iti__flag.iti__hm {
    height: 10px;
    background-position: -2193px 0px; }
  .iti__flag.iti__hn {
    height: 10px;
    background-position: -2215px 0px; }
  .iti__flag.iti__hr {
    height: 10px;
    background-position: -2237px 0px; }
  .iti__flag.iti__ht {
    height: 12px;
    background-position: -2259px 0px; }
  .iti__flag.iti__hu {
    height: 10px;
    background-position: -2281px 0px; }
  .iti__flag.iti__ic {
    height: 14px;
    background-position: -2303px 0px; }
  .iti__flag.iti__id {
    height: 14px;
    background-position: -2325px 0px; }
  .iti__flag.iti__ie {
    height: 10px;
    background-position: -2347px 0px; }
  .iti__flag.iti__il {
    height: 15px;
    background-position: -2369px 0px; }
  .iti__flag.iti__im {
    height: 10px;
    background-position: -2391px 0px; }
  .iti__flag.iti__in {
    height: 14px;
    background-position: -2413px 0px; }
  .iti__flag.iti__io {
    height: 10px;
    background-position: -2435px 0px; }
  .iti__flag.iti__iq {
    height: 14px;
    background-position: -2457px 0px; }
  .iti__flag.iti__ir {
    height: 12px;
    background-position: -2479px 0px; }
  .iti__flag.iti__is {
    height: 15px;
    background-position: -2501px 0px; }
  .iti__flag.iti__it {
    height: 14px;
    background-position: -2523px 0px; }
  .iti__flag.iti__je {
    height: 12px;
    background-position: -2545px 0px; }
  .iti__flag.iti__jm {
    height: 10px;
    background-position: -2567px 0px; }
  .iti__flag.iti__jo {
    height: 10px;
    background-position: -2589px 0px; }
  .iti__flag.iti__jp {
    height: 14px;
    background-position: -2611px 0px; }
  .iti__flag.iti__ke {
    height: 14px;
    background-position: -2633px 0px; }
  .iti__flag.iti__kg {
    height: 12px;
    background-position: -2655px 0px; }
  .iti__flag.iti__kh {
    height: 13px;
    background-position: -2677px 0px; }
  .iti__flag.iti__ki {
    height: 10px;
    background-position: -2699px 0px; }
  .iti__flag.iti__km {
    height: 12px;
    background-position: -2721px 0px; }
  .iti__flag.iti__kn {
    height: 14px;
    background-position: -2743px 0px; }
  .iti__flag.iti__kp {
    height: 10px;
    background-position: -2765px 0px; }
  .iti__flag.iti__kr {
    height: 14px;
    background-position: -2787px 0px; }
  .iti__flag.iti__kw {
    height: 10px;
    background-position: -2809px 0px; }
  .iti__flag.iti__ky {
    height: 10px;
    background-position: -2831px 0px; }
  .iti__flag.iti__kz {
    height: 10px;
    background-position: -2853px 0px; }
  .iti__flag.iti__la {
    height: 14px;
    background-position: -2875px 0px; }
  .iti__flag.iti__lb {
    height: 14px;
    background-position: -2897px 0px; }
  .iti__flag.iti__lc {
    height: 10px;
    background-position: -2919px 0px; }
  .iti__flag.iti__li {
    height: 12px;
    background-position: -2941px 0px; }
  .iti__flag.iti__lk {
    height: 10px;
    background-position: -2963px 0px; }
  .iti__flag.iti__lr {
    height: 11px;
    background-position: -2985px 0px; }
  .iti__flag.iti__ls {
    height: 14px;
    background-position: -3007px 0px; }
  .iti__flag.iti__lt {
    height: 12px;
    background-position: -3029px 0px; }
  .iti__flag.iti__lu {
    height: 12px;
    background-position: -3051px 0px; }
  .iti__flag.iti__lv {
    height: 10px;
    background-position: -3073px 0px; }
  .iti__flag.iti__ly {
    height: 10px;
    background-position: -3095px 0px; }
  .iti__flag.iti__ma {
    height: 14px;
    background-position: -3117px 0px; }
  .iti__flag.iti__mc {
    height: 15px;
    background-position: -3139px 0px; }
  .iti__flag.iti__md {
    height: 10px;
    background-position: -3160px 0px; }
  .iti__flag.iti__me {
    height: 10px;
    background-position: -3182px 0px; }
  .iti__flag.iti__mf {
    height: 14px;
    background-position: -3204px 0px; }
  .iti__flag.iti__mg {
    height: 14px;
    background-position: -3226px 0px; }
  .iti__flag.iti__mh {
    height: 11px;
    background-position: -3248px 0px; }
  .iti__flag.iti__mk {
    height: 10px;
    background-position: -3270px 0px; }
  .iti__flag.iti__ml {
    height: 14px;
    background-position: -3292px 0px; }
  .iti__flag.iti__mm {
    height: 14px;
    background-position: -3314px 0px; }
  .iti__flag.iti__mn {
    height: 10px;
    background-position: -3336px 0px; }
  .iti__flag.iti__mo {
    height: 14px;
    background-position: -3358px 0px; }
  .iti__flag.iti__mp {
    height: 10px;
    background-position: -3380px 0px; }
  .iti__flag.iti__mq {
    height: 14px;
    background-position: -3402px 0px; }
  .iti__flag.iti__mr {
    height: 14px;
    background-position: -3424px 0px; }
  .iti__flag.iti__ms {
    height: 10px;
    background-position: -3446px 0px; }
  .iti__flag.iti__mt {
    height: 14px;
    background-position: -3468px 0px; }
  .iti__flag.iti__mu {
    height: 14px;
    background-position: -3490px 0px; }
  .iti__flag.iti__mv {
    height: 14px;
    background-position: -3512px 0px; }
  .iti__flag.iti__mw {
    height: 14px;
    background-position: -3534px 0px; }
  .iti__flag.iti__mx {
    height: 12px;
    background-position: -3556px 0px; }
  .iti__flag.iti__my {
    height: 10px;
    background-position: -3578px 0px; }
  .iti__flag.iti__mz {
    height: 14px;
    background-position: -3600px 0px; }
  .iti__flag.iti__na {
    height: 14px;
    background-position: -3622px 0px; }
  .iti__flag.iti__nc {
    height: 10px;
    background-position: -3644px 0px; }
  .iti__flag.iti__ne {
    height: 15px;
    background-position: -3666px 0px; }
  .iti__flag.iti__nf {
    height: 10px;
    background-position: -3686px 0px; }
  .iti__flag.iti__ng {
    height: 10px;
    background-position: -3708px 0px; }
  .iti__flag.iti__ni {
    height: 12px;
    background-position: -3730px 0px; }
  .iti__flag.iti__nl {
    height: 14px;
    background-position: -3752px 0px; }
  .iti__flag.iti__no {
    height: 15px;
    background-position: -3774px 0px; }
  .iti__flag.iti__np {
    height: 15px;
    background-position: -3796px 0px; }
  .iti__flag.iti__nr {
    height: 10px;
    background-position: -3811px 0px; }
  .iti__flag.iti__nu {
    height: 10px;
    background-position: -3833px 0px; }
  .iti__flag.iti__nz {
    height: 10px;
    background-position: -3855px 0px; }
  .iti__flag.iti__om {
    height: 10px;
    background-position: -3877px 0px; }
  .iti__flag.iti__pa {
    height: 14px;
    background-position: -3899px 0px; }
  .iti__flag.iti__pe {
    height: 14px;
    background-position: -3921px 0px; }
  .iti__flag.iti__pf {
    height: 14px;
    background-position: -3943px 0px; }
  .iti__flag.iti__pg {
    height: 15px;
    background-position: -3965px 0px; }
  .iti__flag.iti__ph {
    height: 10px;
    background-position: -3987px 0px; }
  .iti__flag.iti__pk {
    height: 14px;
    background-position: -4009px 0px; }
  .iti__flag.iti__pl {
    height: 13px;
    background-position: -4031px 0px; }
  .iti__flag.iti__pm {
    height: 14px;
    background-position: -4053px 0px; }
  .iti__flag.iti__pn {
    height: 10px;
    background-position: -4075px 0px; }
  .iti__flag.iti__pr {
    height: 14px;
    background-position: -4097px 0px; }
  .iti__flag.iti__ps {
    height: 10px;
    background-position: -4119px 0px; }
  .iti__flag.iti__pt {
    height: 14px;
    background-position: -4141px 0px; }
  .iti__flag.iti__pw {
    height: 13px;
    background-position: -4163px 0px; }
  .iti__flag.iti__py {
    height: 11px;
    background-position: -4185px 0px; }
  .iti__flag.iti__qa {
    height: 8px;
    background-position: -4207px 0px; }
  .iti__flag.iti__re {
    height: 14px;
    background-position: -4229px 0px; }
  .iti__flag.iti__ro {
    height: 14px;
    background-position: -4251px 0px; }
  .iti__flag.iti__rs {
    height: 14px;
    background-position: -4273px 0px; }
  .iti__flag.iti__ru {
    height: 14px;
    background-position: -4295px 0px; }
  .iti__flag.iti__rw {
    height: 14px;
    background-position: -4317px 0px; }
  .iti__flag.iti__sa {
    height: 14px;
    background-position: -4339px 0px; }
  .iti__flag.iti__sb {
    height: 10px;
    background-position: -4361px 0px; }
  .iti__flag.iti__sc {
    height: 10px;
    background-position: -4383px 0px; }
  .iti__flag.iti__sd {
    height: 10px;
    background-position: -4405px 0px; }
  .iti__flag.iti__se {
    height: 13px;
    background-position: -4427px 0px; }
  .iti__flag.iti__sg {
    height: 14px;
    background-position: -4449px 0px; }
  .iti__flag.iti__sh {
    height: 10px;
    background-position: -4471px 0px; }
  .iti__flag.iti__si {
    height: 10px;
    background-position: -4493px 0px; }
  .iti__flag.iti__sj {
    height: 15px;
    background-position: -4515px 0px; }
  .iti__flag.iti__sk {
    height: 14px;
    background-position: -4537px 0px; }
  .iti__flag.iti__sl {
    height: 14px;
    background-position: -4559px 0px; }
  .iti__flag.iti__sm {
    height: 15px;
    background-position: -4581px 0px; }
  .iti__flag.iti__sn {
    height: 14px;
    background-position: -4603px 0px; }
  .iti__flag.iti__so {
    height: 14px;
    background-position: -4625px 0px; }
  .iti__flag.iti__sr {
    height: 14px;
    background-position: -4647px 0px; }
  .iti__flag.iti__ss {
    height: 10px;
    background-position: -4669px 0px; }
  .iti__flag.iti__st {
    height: 10px;
    background-position: -4691px 0px; }
  .iti__flag.iti__sv {
    height: 12px;
    background-position: -4713px 0px; }
  .iti__flag.iti__sx {
    height: 14px;
    background-position: -4735px 0px; }
  .iti__flag.iti__sy {
    height: 14px;
    background-position: -4757px 0px; }
  .iti__flag.iti__sz {
    height: 14px;
    background-position: -4779px 0px; }
  .iti__flag.iti__ta {
    height: 10px;
    background-position: -4801px 0px; }
  .iti__flag.iti__tc {
    height: 10px;
    background-position: -4823px 0px; }
  .iti__flag.iti__td {
    height: 14px;
    background-position: -4845px 0px; }
  .iti__flag.iti__tf {
    height: 14px;
    background-position: -4867px 0px; }
  .iti__flag.iti__tg {
    height: 13px;
    background-position: -4889px 0px; }
  .iti__flag.iti__th {
    height: 14px;
    background-position: -4911px 0px; }
  .iti__flag.iti__tj {
    height: 10px;
    background-position: -4933px 0px; }
  .iti__flag.iti__tk {
    height: 10px;
    background-position: -4955px 0px; }
  .iti__flag.iti__tl {
    height: 10px;
    background-position: -4977px 0px; }
  .iti__flag.iti__tm {
    height: 14px;
    background-position: -4999px 0px; }
  .iti__flag.iti__tn {
    height: 14px;
    background-position: -5021px 0px; }
  .iti__flag.iti__to {
    height: 10px;
    background-position: -5043px 0px; }
  .iti__flag.iti__tr {
    height: 14px;
    background-position: -5065px 0px; }
  .iti__flag.iti__tt {
    height: 12px;
    background-position: -5087px 0px; }
  .iti__flag.iti__tv {
    height: 10px;
    background-position: -5109px 0px; }
  .iti__flag.iti__tw {
    height: 14px;
    background-position: -5131px 0px; }
  .iti__flag.iti__tz {
    height: 14px;
    background-position: -5153px 0px; }
  .iti__flag.iti__ua {
    height: 14px;
    background-position: -5175px 0px; }
  .iti__flag.iti__ug {
    height: 14px;
    background-position: -5197px 0px; }
  .iti__flag.iti__um {
    height: 11px;
    background-position: -5219px 0px; }
  .iti__flag.iti__un {
    height: 14px;
    background-position: -5241px 0px; }
  .iti__flag.iti__us {
    height: 11px;
    background-position: -5263px 0px; }
  .iti__flag.iti__uy {
    height: 14px;
    background-position: -5285px 0px; }
  .iti__flag.iti__uz {
    height: 10px;
    background-position: -5307px 0px; }
  .iti__flag.iti__va {
    height: 15px;
    background-position: -5329px 0px; }
  .iti__flag.iti__vc {
    height: 14px;
    background-position: -5346px 0px; }
  .iti__flag.iti__ve {
    height: 14px;
    background-position: -5368px 0px; }
  .iti__flag.iti__vg {
    height: 10px;
    background-position: -5390px 0px; }
  .iti__flag.iti__vi {
    height: 14px;
    background-position: -5412px 0px; }
  .iti__flag.iti__vn {
    height: 14px;
    background-position: -5434px 0px; }
  .iti__flag.iti__vu {
    height: 12px;
    background-position: -5456px 0px; }
  .iti__flag.iti__wf {
    height: 14px;
    background-position: -5478px 0px; }
  .iti__flag.iti__ws {
    height: 10px;
    background-position: -5500px 0px; }
  .iti__flag.iti__xk {
    height: 15px;
    background-position: -5522px 0px; }
  .iti__flag.iti__ye {
    height: 14px;
    background-position: -5544px 0px; }
  .iti__flag.iti__yt {
    height: 14px;
    background-position: -5566px 0px; }
  .iti__flag.iti__za {
    height: 14px;
    background-position: -5588px 0px; }
  .iti__flag.iti__zm {
    height: 14px;
    background-position: -5610px 0px; }
  .iti__flag.iti__zw {
    height: 10px;
    background-position: -5632px 0px; }

.iti__flag {
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("./img/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 20px 0; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
      background-image: url("./img/flags@2x.png"); } }

.iti__flag.iti__np {
  background-color: transparent; }

  /* sidebar */
  
.sidebar{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.2s ease;
}
.sidebar.open{
  width: 250px;
}

.sidebar.open span.ibadge{
  display: none;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.2s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.2s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.logo_name a{
  color: #fff;
}
.logo_name a:hover{
  color: #999;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: +50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.2s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  right: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
   font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height:30px;
  width: 100%;
  width: 30px;
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease;
  background: #1d1b31;
  text-align: center;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 150px;
  height: 50px;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;
  background: #1d1b31;
}
ul.sub-menu{
  padding:3px 3px;
}
ul.sub-menu  a {
  border-radius: 7px;
  margin-top: 3px;
  margin: auto;
  margin-bottom: 3px;
}

span.submenu{
  background: none;
  margin-right: 70px;
  
}
span.submenu:hover{
  color: #000;
}

.sidebar li a:hover{
  background: #FFF;
}
.slide li a:hover .arrow{
  color: #000;
}
.sidebar .sub-menu{
  display: none;
}
.sidebar  .arrow{
  display: none;
}
li.showMenu i.arrow{
  transform:rotateX(-180deg);
}
.sidebar.open   li.showMenu .sub-menu{
  display: block;
}
.sidebar.open .arrow{
  margin-top: -48px;
  display: flex;
  width:fit-content ;
  margin-right:190px;
}

.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sub-menu li a{
  margin: auto;
  display: flex;
  height: 95%;
  width: 95%;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
}
.sidebar div.sub-menu{
  display: none;
}
.sidebar.open div.showMenu {
  display: block;
}


.submenu {
  margin-left: 28.5%;  
}
ul.sub-menu{
  background: #3f4c68;
  border-radius: 5px;
}

.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
div.iocn-link:hover i{
  color: #000;
}

.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.2s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0.3s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sub-menu li a:hover{
  background: #FFF;  
  color: #000;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.2s ease;
  color: #11101D;
}
.sub-menu li a{
  text-align: center;
}
.sidebar .sub-menu a {
  color: #fff;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 50px;
  right: 0;
  bottom: -8px;
  padding: 5px 14px;
  background: #1d1b31;
  transition: all 0.2s ease;
  overflow: hidden;
  border-radius: 5px;
}
.sidebar.open li.profile{
  width: 221px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: 3px;
  margin-top: 5px;
}

.profile-image img{
  width: 40%;
  height: auto;
}

.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  margin-top: 10px;
  margin-right: 5px;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.2s ease;
}
.sidebar.open .bx-search{
  display: none;
  text-align: center;
  direction: rtl;
  padding: 0;
  
}
.sidebar button.btn-search {
  display: none;
}
.sidebar.open button.btn-search{
  display: block;
  margin-top: -48px;
  display: flex;
  width:fit-content ;
  margin-right:185px;
  width: 25px;
  height: 30px;
  padding: 5px;
}

.sidebar li .hover-menu{
  position: absolute;
  top: -20px;
  right: calc(100% + 15px);
  z-index: 3;
  background: #999;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events:painted;
  margin-top: 30px;
  transition: all 1s;
}
.sidebar li:hover .hover-menu{
  display: block;
  opacity: 1;
  pointer-events:fill;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s ease;
}

.sidebar.open li .hover-menu{
  display: none;
}

.sidebar .hover-menu li {
  margin-left: 60px;
  width: 100%;
}
.sidebar .hover-menu a{
  color: #fff;
  margin-bottom: 2px;
}
.sidebar .hover-menu a:hover{
  color: #000;
}
a#log_in {
  color: #fff;
}
a#log_in:hover{
  color: #000;
}
a.log_in:hover{
  color: #000;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  min-height: 100vh;
  top: 0;
  right: 78px;
  width: calc(100% - 78px);
  transition: all 0.2s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  right: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
i.bx-log-in:before{
 size: 60px;
}
@media (max-width: 535px) {
  .welcome{
    display: none;
  }
}
/* 
@media (max-width: 420px) {
  div.fixing{
    margin-right: -5px;
  }
  .sidebar li .tooltip{
    display: none;
  }
  div.cart-screen{
    margin-right: 90px;
  }
  h1{
    margin-right: 30px;
  }
  .table .order-history{
    width: 100px;
  }
  
} */
/* @media (max-width: 410px) {
 .fixing{
    margin-right: -5px;
  }
  .fixing-cart{
    margin-right: -5px;
  }
  .slider-seller{
    width: 310px;
    height: 180px;
  }
  .slider-seller img {
    width: 310px;
    height: 180px;
  }
  h1{
    margin-right: 30px;
  }
  .table .order-history{
    width: 100px;
  }
}
@media (max-width: 400px) {
 .fixing{
    margin-right: -5px;
  }
  .fixing-cart{
    margin-right: -1px;
  }
  .fixing-product{
    margin-right: 45px;
  }
  .fixing-search select{
    margin-left:-10px;
    margin-bottom: 10px;
  }
 
  form.form{
    width: 250px;
    margin-left:20px ;
  }
  input#phonenumber {
    width: 230px;
  }
  a.brand{
    margin-right: 78px;
  }
  
  div.card.card-body{
    margin-top: 20px;
    margin-left: 25px; 
  }
  div.col-1.product-name{
    width:140px ;
  }
  .slider-seller{
    width: 300px;
    height: 200px;
  }
  .slider-seller img {
    width: 3.0px;
    height: 200px;
  }
  
   div.col-1.search-category {
    margin: auto;
}
  h1{
    margin-right: 30px;
  }
  .table .order-history{
    width: 100px;
  }
  footer{
    margin-right: 78px;
  }
}*/

@media (max-width: 520px) {

  .fixing-search , .fixing-cart , 
  .fixing-dashboard , .fixing-register , 
  .fixing-profile ,.fixing-order-history,
  .fixing-payment-method , .fixing-palce-order ,
  .fixing-product ,.fixing-signin,
  .fixing-user-list,.fixing-support,
  .fixing-shipping ,.fixing-seller,
  .fixing-product-edit ,.fixing-order,.fixing-product-list
  {
    margin: auto;
    margin-right: 0px;
  }

  .fixing-product div.col-1{
    margin-top: 20px;
  }
  .fixing-product form.form{
    margin-bottom: 10px;
  }
  .fixing-product div.card.card-body {
    width: 280px;
  }
  .fixing-product div.card.card-body ,.fixing-product form.form ,  .fixing-product div.alert.alert-info , .fixing-product .product-border{
    margin: auto;
  }
  .fixing-product .col-2 img.large{
    margin: auto;
    /* margin-right: 20px; */
  }
  .sidebar{
    display: none;
  }  

  .sidebar.open ,li.profile{
    display: block;
  }
  .sidebar.open li.profile{
    margin-left: 0;
  }
  .home-section.fixing{
    margin:auto -40px;
  }

  .back-button{
    margin: auto;
    margin-right: -10px;
  }
  h1{
    margin-right: 30px;
  }
  .table .order-history{
    width: 100px;
  }
  .background{
    margin-top: -230px;
  }

  a.brand{
    margin-left:40px;
  }
 
  ul.card-body{
    margin-top: 20px;
  }
  .fixing-seller .col-1{
    margin-top: 20px;
    margin: auto;
  }
  .fixing-cart div.alert{
    margin:auto 10px;
  }
  .table.order-history{
    font-size: 13px;
  }
}
  

/* @media (max-width: 390px) {
  

 a.brand{
   margin-right: 200px;
 }
  .slider-seller{
    width: 290px;
    height: 200px;
  }
  .slider-seller img {
    width: 290px;
    height: 200px;
  }
  div.cart-screen{
    margin-right: 90px;
    width: 270px;
  }
  div.col-1.search-category {
    margin: auto;}
    
  form.form{
    width: 240px;
    margin-left:20px ;
  }
  .card.card-body{
    width: 230px;
    padding: 5px;
    margin: auto;
  }
  .slider-seller{
    width: 280px;
    height: 200px;
  }
  .slider-seller img {
    width: 280px;
    height: 200px;
  }
  div.cart-screen{
    margin-right: 80px;
    width: 260px;
  }
  div.col-1.search-category {
    margin: auto;
  }
  .card.card-body{
    width: 230px;
    padding: 5px;
    margin: auto;
  }
}
@media (max-width: 380px) {
  a.brand{
    margin-right:80px;
  }

  div.fixing{
    margin-right: -5px;
  }
  .fixing-product-list{
    margin-right: 78px;
  }
  .slider-seller{
    width: 280px;
    height: 200px;
  }
  .slider-seller img {
    width: 280px;
    height: 200px;
  }
  div.cart-screen{
    margin-right: 80px;
    width: 260px;
  }
  div.col-1.search-category {
    margin: auto;
  }
  .card.card-body{
    width: 230px;
    padding: 5px;
    margin: auto;
  }
  /* footer{
    margin-right: 78px;
  } 
}
*/
/* @media (max-width: 370px) {
  .fixing-profile ,.fixing-order-history{
    margin-right: -25px;
  }
  input#phonenumber {
    width: 200px;
  }
  
  form.form{
    width: 220px;
    margin-left:20px ;
  }
  .slider-seller{
    width: 270px;
    height: 200px;
    
  }
  div.fixing{
    margin-right: 100px;
  }
  .slider-seller img {
    width: 270px;
    height: 180px;
  }
  div.cart-screen{
    margin-right: 70px;
  }
  .card.card-body{
    width: 230px;
    padding: 5px;
    margin: auto;
  }
  footer{
    margin-right: 78px;
  }
}


 


@media (max-width: 360px) {
  div.fixing{
    margin-right: 100px;
  }
  .slider-seller{
    width: 260px;
  }
  .slider-seller img {
    width: 260px;
  }
  div.card .medium{
    width: 280px;
  }
  div.cart-screen{
    margin-right: 60px;
  }
  form.form{
    width: 200px;
    margin-left:10px ;
  }
  .card.card-body{
    width: 220px;
    padding: 5px;
    margin: auto;
  }
  input#phonenumber {
    width: 180px;
  }
}
@media (max-width: 350px) {
  .slider-seller{
    width: 250px;
  }
  .slider-seller img {
    width: 250px;
  }
  div.card .medium{
    width: 270px;
  }
  div.cart-screen{
    margin-right: 50px;
  }
}
@media (max-width: 450px){
  .card.card-body {
    width: 240px;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 95px;
  }
  
  img.large{
    width: 250px;
    margin-right: 95px;
  }
  .product-name {
    margin-right: 40px;
    border: solid 1px #cacaca;
    border-radius: 5px;
    padding: 40px;
    margin: 12px 27px;
    text-align: center;
    background-color: #cacaca;
}
} 
@media (max-width: 480px) {
  div.fixing-cart{
    margin-right:-50px;
  }
} */
