@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Roboto&display=swap');



@font-face {
  font-family: 'iransans';
  src: url('http://bayanbox.ir/download/5602560474888085389/IRANSansWeb.woff') format('woff'); 
  src: url('http://bayanbox.ir/download/2180555625540261471/IRANSansWeb.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
	
@font-face {
  font-family: 'iransans';
  src: url('http://bayanbox.ir/download/5602560474888085389/IRANSansWeb.woff') format('woff'); 
  src: url('http://bayanbox.ir/download/2180555625540261471/IRANSansWeb.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
} 

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.eot');
  src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.woff2') format('woff2'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.woff') format('woff'),
       url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
}



html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  direction: rtl;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("https://cdn.dribbble.com/users/1784766/screenshots/10956408/fn2_4x.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px 1080px;
  color: #333;
  line-height: 1.6;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Vazir,iransans,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body img{
    width: 100%;
    height: auto;
}
#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  font-family: Vazir,iransans;
}
header {
  grid-area: header;
  height: 75px;
  background-color: #20304073;
}

header a {
  color: #ffffff;
  padding: 1rem;
}
main {
  margin-top: 20px;
  grid-area: main;
  margin-bottom: -10px;
  color: #ffffff79;
  
}
/* footer  */
footer {
  grid-area: footer;
  background:#203040 ;
  height: auto;
  color: #fff;
  box-sizing: border-box;
  
}

footer.row.center{
  background: #203040;
}
.footer-content{
  border-radius:   10px;
  background: #203040;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  width: -webkit-fill-available;
  margin-bottom: -30px;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-weight: bold;
  color: #f3f3f3;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px ;
  font-size: 14px;
  color: #fff;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0 ;
}
.socials li{
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;  
}
.socials a i {
  font-size: 4rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: rgb(0, 255, 255);
}
.footer-bottom{
  color: #fff;
  background: #203040;
  width:fill;
  height: auto;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-bottom a{
  color: rgb(211, 165, 15);
}
.footer-bottom a:hover {
  color: #b4b4b4;
}
/* end footer */

.brand-slider{
  margin-bottom: 25px;
}
.background{
  margin-bottom: 10px;
}


.menu{
  margin-bottom: 13px;
  margin-left: 10px;
}

.slider-seller{
  direction: ltr;
}

.search input{
  width:400px;
}
@media (min-width:1920px) {
  input#phonenumber {
    width: 500px;
  }
}
@media (max-width:1920px) {
  input#phonenumber {
    width: 500px;
  }
}

@media (max-width:1600px) {
  .search input{
    width: 320px;
  }
  .carousel .slide img {
    width: auto;
    height: 900px;
  }
  input#phonenumber {
    width: 500px;
  }
}
@media (max-width:1156px) {
  .search input{
    width: 320px;
  }
  .carousel .slide img {
    width: 90%;
    height: 700px;
  }
    
  input#phonenumber {
    width: 500px;
  }
}
@media (max-width:1075px) {
  .search input{
    width: 250px;
  }
  
  input#phonenumber {
    width: 500px;
  }
}

@media (max-width:1000px) {
  .search input{
    width: 200px;
  }
  .menu a {
    font-size: 15px;
  }
  input#phonenumber {
    width: 500px;
  }
}

@media (max-width:635px) {
  input#phonenumber {
    width: 490px;
  }
}

@media (max-width:944px) {
  .search input{
    width: 150px;
  }
}

@media (max-width:894px) {
  .search input{
    width:100px;
  }
  .menu a {
    font-size: 13px;
  }
}

@media (max-width:894px) {
  .search input{
    width:95px;
  }
  .menu a {
    font-size: 12px;
    margin-left: 2px;
    padding: 8px;
  }
}


@media (max-width:767px) {
  .slider-seller{
    width: 1920px;
    height: 700px;
    margin: 10px auto;
    width: 90%;
    padding: 10px;
  }
  .background{
    margin-top: 250px;
  } 
  .search input{ 
    margin-top: -1px;
    margin-left: -1px;
    width:90px;
  }
  .carousel .slide img {
    margin: auto;
     height: 450px;
  }
  
  img.large {
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
}
  .menu a{
    font-size: 11px;
  }
}



img.large {
  margin-top: 10px;
}

@media (max-width:991px) {
  
  
  img.large {
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
  }
  
}
aside.open li{
  width: 270px;
}
.close-sidebar{
  margin-left:-10px ;
}
.cart-screen{
  background-color: rgba(231, 231, 231, 0.644);
  padding: 3px;
  border-radius: 5px;
}
.sunpport-card{
  width: 300px;
  height: auto;
}

 
@media (max-width:500px) {
  body{
    background-size:1100 auto;
    background-attachment: fixed;
  }
  .active{ font-size: 1.3rem;}
  .category li{
    margin-right:3px ;
  }
  .table{
    font-size: 11px;
  }
  button.small{
    font-size: 1rem;
  }
  .brand a{
    font-size: 15px;
    margin-right: 5px;
  }
  .cart-screen{
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 5px;
    padding:  0 10px;
    width: 340px;
    margin: 20px auto;
  }
  .card.card-body.incart-screen{
    width: 258px;
    padding: 40px;
  }
  .menu{
   padding: 5px;
   margin: auto;
    margin-top: -20px;
    font-size: 6px;
  }
  .slider-seller{
    width: 320px;
    height: 200px;
  }
  .slider-seller img {
    width: 320px;
    height: 200px;
  }
  input#phonenumber {
    width: 210px;
    margin: auto;
  }
  p.legend{
    width: -70%;
    margin: auto;
  }
  .header.row{
    margin-bottom: 100px;
  }
 
  aside.open {
    width: 200px;
    margin-right: -11px;
    padding: 5px;
  }
  aside.open li{
    width: 170px;
    margin-right: 5px;
  }
  .close-sidebar{
    margin-left:-10px ;
  }
  .menu a{
    font-size: 12px;
    margin-left: -1px;
    margin-top:10px;
    margin-right: -12px;
    color: #fff;
    
  }
  img.large {
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }
  .open{
    width: 150px;
  }
  .dropdown-content{
    min-width:-9rem;
  }
  .dropdown-content li{
    margin-top: 5px;
  }
  form.form{
    width: 310px;
    margin: 30px auto;
    
  }
  form.form button.primary{
    margin: 5px;
  }
  
  div{
    font-size: 1.4rem;
  }
   .slide  {
    border-radius: 5px;
  }

  .search input{
    margin-top: -1px;
    margin-left: -1px;
    width:80px;
  }
  .primary{ 
    margin-top: -1px;
  }
  
  a.brand{
    margin-right: -5px;
  }
  main{
    margin-top: 60px;
  }
   .card.card-body{
     width: auto;
     margin: 10px 1px;
     padding: 20px 40px;
     margin: 10px auto ;
     padding: 10px ;
   }
.search.primary {
    margin: 0 -20px;
    border-radius:  0.5rem 0 0 0.5rem ;
  } 
  .carousel .slide {
      max-height: 500px;
      max-width: 2rem;
  }
  .card.card-body{
    width: 270px;
    margin-bottom: 20px ;
  }
  .table{
    font-size: 1rem;
  }
  button.peyment {
    margin:auto;
  }
  .pagination{
    margin-bottom: 20px;
  }
  .alert-info{
    margin: 20px auto;
  }
  .singin-button{
    margin-left: 2px;
    margin-right: 1px;
   font-size: 50px;
  }
  div.menu{
    margin: auto;
    margin-bottom:45px;
  }
  div.menu a{
    margin-right: 3px;
  }
}

/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  color:#333;
}
.new-product{
  margin-right: 10px;
  color: #808080;
}
.product-border{
  text-align: center;
  margin: auto;
}
a {
  text-decoration: none;
  color: #000;
  
}
a:hover {
  color: #707070;
}
a:visited { 
  text-decoration: none; 
 }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Vazir,iransans;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  text-align: center;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #dbbcff;
  border-radius: 10px;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}

a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.dashboard{
  color: #000;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
  color: #000000;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 20 1 50rem;
}


.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #525252b4;
  z-index: 1000;
  transform: translateX(40rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
  height: 47px;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: #ffffff solid 1px;
  border-radius: 10px;
  margin: 5px;
}
.aside a{
 color: #fff;
}
.aslide li 
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

.category {
  border: none;
  
}
.categories{margin-left: 20px;}
.category {
  text-align: center;
  color: #dbbcff;
}

.categories a{
  color: #fff;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width:289.5px;
  height: 193px;

}
/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #e0e0e0be;
  border-radius: 0.5rem;
  margin: 1rem;
  text-align: center;
}
.card-body h2{
  font-size: 19px;
  font-weight: 400;
  text-transform: capitalize;
}

.card-body {
  padding: 1rem;
  text-align: center;
}
.card-body > * {
  margin-bottom: 0.5rem;
  text-align: center;
}
.price {
  font-size:18px;
  text-align: center;
  color: #000;
  margin-top: 10px;
  font-weight:500;
}

.product-name{
  margin-right: 40px;
  border: solid 1px #cacaca  ;
  border-radius: 5px;
  padding: 40px;
  margin:12px 27px ;
  text-align: center;
  background-color:#cacaca ;
}


.back-button{
  background-color: #fff;
  margin: 0;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
  margin-top: 25px;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin-right:  700px;
  background: rgba(130, 146, 180, 0.692);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 70px;
  padding: 5px 20px   ;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
form {
  margin-bottom: 40px;
  margin-left: 50px;
  text-align: center;
  color: rgb(48, 48, 48);
}
.form button{
  margin-bottom: 10px;
  font-size: large;
}
.form input{
  background: #fff;
  width: auto;
}
 .form h1{
  color: #000;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-bottom: 20px;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0rem;
  min-width:12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  text-align: center;
}
.admin {
  right:-3.9rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

div.row{
  margin-top: 20px;
  color: #000;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #afaeae;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: center;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
  color: #000;
}
.table button {
  margin: 0 0.2rem;
}
.peyment button{
  color: #dbbcffb0;
}
/* Carousel */
.carousel .slide img {
  width: auto;
}


/* Search */
.search{
 margin: auto;
 margin-bottom: 20px;
}
.search button {
  border-radius:  0.5rem 0 0 0.5rem ;
  border-right: none;
  direction: rtl;
}
.search input {
  border-radius:  0 0.5rem  0.5rem 0;
  border-right: none;
}
.search-category{
  border-radius: 10px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.664);
}

.search-category ul{
  text-align: center;
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px;
  border: #000 solid 1px;
}
a.active{
  color: #808080;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}
 strong{
  color: #000;
}
p{
  color: #000;
}
.reviews-border{
  border: solid 1px #000 ;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  height: 200px;
  width: auto;
}
/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem; 
}
.chatbox ul {
  
  overflow-y: scroll;
  max-height: 20rem;
  text-align: right;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 7rem);
  margin-bottom: -40px;

}
.button-chatbox {
  margin-bottom: -40px;
  margin-left: -30px;
}
.chatbox button{
  height: 43px;
}
.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
 
}
.support-messages {
  padding: 1rem;
  background: #fff;
  width:1000px;
}
.support-messages input {
  width: calc(100% - 10rem);
  margin-bottom: 20px;
}
.support-messages button{
  margin-bottom: 20px;
}
.support-messages ul {
  height: calc(100vh - 20rem);
  max-height: calc(100vh - 20rem);
  overflow-y: scroll;
  color: #000;
}
.support-messages li {
  margin-bottom: 1rem;
}


.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c; 
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#phone, .btn {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  color: #ffffff;
  background-color: #428BCA;
  border-color: #357EBD;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.btn:focus, .btn:hover {
  background-color: #3276B1;
  border-color: #285E8E;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

input#phonenumber {
  margin: auto;
  text-align: center;
}
input.btn{
  margin-right: 20px;
  height: 46px;
  color: #000;
}